[data-theme="dark"] {
    --bg: #3B3B3B;
    --text: #fff;
    --border: #f1f1f1;
    --muted: #999;
    --font: "Times New Roman", Times, serif;
    --letter-spacing: 0.05em;
    --content-shift: 0;
    --accent-color: #EF3A58;
    --position-color: #4B4B4B;
}